<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>This is home</h1>
    <h2>you are logged in as {{ request.user.username }}</h2>

    {% if banks %}
        {% for bank in banks %}
            <ul>
                <li>
                    <a href="{% url 'banks:bank-detail' pk=bank.id %}">{{ bank.name }}</a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

    <br><br>

    <button type="submit"><a href="{% url 'accounts:view' %}">View</a></button>
    <button type="submit"><a href="{% url 'accounts:edit' %}">Edit profile</a></button>
    <button type="submit"><a href="{% url 'banks:add' %}">Add Bank</a></button>
    <button type="submit"><a href="{% url 'accounts:logout' %}">Log Out</a></button>
</body>
</html>